<p id="notice"><%= notice %></p>
<p id="alert" style="color: red"><%= alert %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>

<h3>
  Comments
</h3>

<%= render "comments/form", task: @task %>

<table>
<%- @task.comments.each do |comment| %>
  <tr> 
    <td>
      <%= comment.content %>
    </td>
    <td>
      <%= link_to "Destroy", comment_path(id: comment.id),
            method: :delete,
            data: { confirm: 'Are you sure?' } %> 
    </td> 
  </tr>
<%- end %>
</table>
